body {
    background-color: rgb(252, 240, 224);
}

#center {
    position: absolute;
    width: 65%;
    align-self: center;
    text-align: center;
    top: 30vh;
    left: 15%;
    background-color: #daeaf5;
    padding: 3%;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

a {
    position: relative;
    text-decoration: none;
    animation-name: blink;
	animation-delay: 0s;
	animation-direction:normal;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-play-state:running;
	animation-timing-function: ease-in-out;
}

a:visited {
    color: #828282;
}

a:hover {
    cursor: alias;
}

p {
    color:white;
    position: relative;
    text-shadow: 2px 2px 4px #828282;
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
}

#singer {
    position:relative;
    top: 25%;
    font-size:xx-large;
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
}

@keyframes blink {
    0% {color:#ffffff}
    50% {color: #d2d1d1}
    75% {color: #efeeee}
    100% {color:#ffffff}
  }
