body {
    background-color: rgb(226, 237, 247);
}

#birds {
    width: 40%;
    height: 10%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    justify-content:space-evenly;
    font-family: "Butterfly Kids";
    font-size: 60pt;
    font-weight: 500;
    color:#AF755C;
    text-shadow: 3px 3px 4px #828282b6;
    animation-name: diagonal, size;
	animation-delay: 30ms;
	animation-direction: normal;
	animation-duration: 6s;
	animation-fill-mode:forwards;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function:ease-in-out;
}

#birdOne {
    animation-name: leftWing;
	animation-delay: 30ms;
	animation-direction: normal;
	animation-duration: 2s;
	animation-fill-mode:forwards;
	animation-iteration-count: 3;
	animation-play-state: running;
	animation-timing-function: linear;
}

#birdTwo {
    position: relative;
    bottom: 20%;
}

#birdThree {
    animation-name: rightWing;
	animation-delay: 30ms;
	animation-direction: normal;
	animation-duration: 2s;
	animation-fill-mode:forwards;
	animation-iteration-count: 3;
	animation-play-state: running;
	animation-timing-function: linear;
}

#lines {
    font-family: "Alegreya", serif;
    font-weight: 400;
    font-size: 30pt;
}

#line {
    color:#828282;
    position: absolute;
    top: 40%;
    left: 40%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 8px;
}

#line {
    animation-name: appear;
    animation-delay: 0s;
    animation-direction:forwards;
    animation-duration: 11s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
    animation-play-state: running;
    animation-timing-function: ease-out;
}

#sat {
    padding-right: 8px;
    animation-name: drop;
	animation-delay: 5s;
	animation-direction:reverse;
	animation-duration: 2s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-play-state: running;
	animation-timing-function: ease-out;
}

#on {
    padding-right: 8px;
    animation-name: drop;
	animation-delay: 5.5s;
	animation-direction:reverse;
	animation-duration: 2s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-play-state: running;
	animation-timing-function: ease-out;
}

#my {
    padding-right: 8px;
    animation-name: drop;
	animation-delay: 6s;
	animation-direction:reverse;
	animation-duration: 2s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-play-state: running;
	animation-timing-function: ease-out;
}

#window {
    padding-right: 8px;
    animation-name: drop;
	animation-delay: 6.5s;
	animation-direction:reverse;
	animation-duration: 2s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-play-state: running;
	animation-timing-function: ease-out;
}


#lineTwo {
    position: absolute;
    top: 55%;
    left: 40%;
    color:#828282;
    animation-name: appear;
	animation-delay: 0s;
	animation-direction:forwards;
	animation-duration: 15s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-play-state: running;
	animation-timing-function: ease-out;
}

a:visited {
    color:#828282;
}

a:hover {
    cursor:alias;
}

#lineTwo a {
    font-size: 35pt;
    text-decoration: none;
    animation-name: blink;
	animation-delay: 10s;
	animation-direction:normal;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-play-state:running;
    animation-timing-function: ease-in-out;
}

#nav {
    color:#716f6f;
    position: fixed;
    font-size: 14pt;
    width: 18%;
    bottom: 0%;
    left: 0%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:flex-end;
    justify-content: space-around;
    font-family: "Schoolbell", cursive;
}

#nav a {
    color:#716f6f;
    display:inline-block;
    text-decoration:none;
}

#nav a:visited {color:#716f6f}

#nav a:hover {
    transform:scale(130%);
    -webkit-transform:scale(130%);
    -moz-transform:scale(130%);
    -ms-transform:scale(130%);
    -o-transform:scale(130%);
}

@keyframes diagonal {
from {
    position: absolute;
    top: 0;
    left: 0;
}

to {position: fixed;
    left: 30%;
    top: 90%;}
}

@keyframes size {
    from { transform:scale(30%); -webkit-transform:scale(30%); -moz-transform:scale(30%); -ms-transform:scale(30%); -o-transform:scale(30%); }

    to { transform: scale(100%); -webkit-transform: scale(100%); -moz-transform: scale(100%); -ms-transform: scale(100%); -o-transform: scale(100%);}
}

@keyframes leftWing {
    0% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }

    50% { transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -o-transform:rotate(-45deg); }

    100% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
}

@keyframes rightWing {
    0% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }

    50% { transform:rotate(45deg); -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); }

    100% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
}

@keyframes drop {
    from { transform:translateY(0); -webkit-transform:translateY(0); -moz-transform:translateY(0); -ms-transform:translateY(0); -o-transform:translateY(0); }

    to {
        transform:translateY(-100vh);
        -webkit-transform:translateY(-100vh);
        -moz-transform:translateY(-100vh);
        -ms-transform:translateY(-100vh);
        -o-transform:translateY(-100vh);
}
}

@keyframes blink {
    0% {color:#716f6f}
    50% {color:rgb(124, 208, 231)}
    0% {color:#716f6f}
  }

@keyframes appear {
    0% {opacity: 0%}
    60% {opacity:1%}
    100% {opacity: 100%}
  }